{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "parser": "html",
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "parser": "pug",
        "singleQuote": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "singleQuote": true
      }
    }
  ]
}
